.container{
  width: 1500px;
  height: 150px;
  background-color: white;
  margin: 50px auto;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: center;
}
select {
  margin: 0 25px;
  padding: 15px 35px;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 15px;
  color: black !important;
  background-color: white !important;
  appearance: none;
  cursor: pointer;
}


option {
  color: black !important;
  background-color: white !important;
}

.container .logo {
  width: 25%;
  position: absolute;
  top: 30px;
  right: 30px;
}
.container .logo h1{
  color: #0F2FA1;
}
.container .menu{
width: 50%;
position: absolute;
top: 60px ;
right: 40%;
}
.container .menu ul{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
}
.container .menu ul li{
  margin: 0px 15px;
  font-weight: bold;
  font-size: 20px;
}
.container .login{
  width: 25%;
  position: absolute;
  left: -10%;
  top: 50px;
}
.container .login button:nth-child(1){
  color: white;
  border-color: #0F2FA1;
  margin: 10px;
  background-color: white;
  border: 2px solid #0F2FA1;
  color: #0F2FA1;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 15px;
}
.container .login button:nth-child(2){
  color: white;
  border-color: #0F2FA1;
  margin: 10px;
  background-color:#0F2FA1;
  border: 2px solid #0F2FA1;
  color: white;
  border-radius: 10px;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 15px;
}
#circle1{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50px;
}
#circle1 img{
  position: absolute;
    left: -100%;
    top: 150px;
}
#circle2{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50px;
}
#circle2 img{
  position: absolute;
  left: -250px;
  top: 250px;
}
#circle3{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50px;
}
#circle3 img{
  position: absolute;
  top: -280px;
  right: 700px;
}
#circle4{
  position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50px;
}
#circle4 img{
  position: absolute;
  top: -280px;
  right: 1500px;
}
#circle5{
    position: relative;
  width: 150px;
  height: 150px;
  border-radius: 50px;
}
#circle5 img{
  position: absolute;
  top: -200px;
  right: 1600px;
}
.title{
width: 681;
height: 148;
top: 333px;
left: 380px;
margin: -600px 0;
}
.title h1{
font-family: Yekan Bakh FaNum;
font-weight: 700;
font-size: 48px;
line-height: 100%;
letter-spacing: 0%;
text-align: center;


}
.title  h4{
font-family: Yekan Bakh FaNum;
font-weight: 700;
font-size: 48px;
line-height: 0%;
letter-spacing: 0%;
text-align: center;
color: #4A6DEC;
}
 .searchbusiness{
  position: absolute;
  top: 650px;
  right: 500px;
  height: 350px;
  background-color: white;
  width: 900px;
  height: 140px;
  border-radius: 15px;
}
.searchbusiness .search {
  position: absolute;
  right: 90px;
  top: 55px;
}
/* .searchbusiness .search select {
  margin: 0 25px;
  padding: 15px 35px;
  border-radius: 10px;
  border: 2px solid black;
  font-weight: bold;
  font-size: 15px;
  color: black;
  background-color: white;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
  background-repeat: no-repeat;
  background-position: right 15px center;
  background-size: 16px 16px;
  position: relative;
  overflow: hidden;
} */


.searchbusiness .search input{
  padding: 15px 35px;
  background-color: #0F2FA1;
  border: 2px solid #0F2FA1;
  border-radius: 15px;
  color: white;
  font-weight: bold;
  font-size: 15px;
}

.numberofcustomer{
  display: flex;
  position: absolute;
  top: 850px;
  left: 700px;
}

.numberofcustomer .stats-container {
  display: flex;
  justify-content: center;
  gap: 60px;
  margin: 60px 0;
  direction: rtl;
  text-align: center;
  font-family: 'IRANSans', sans-serif;
}

.numberofcustomer .stat-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.numberofcustomer .stat-number {
  font-size: 48px;
  font-weight: 900;
  color: #0F2FA1;
  margin-bottom: 10px;
  line-height: 1.2;
}

.numberofcustomer .stat-label {
  font-size: 20px;
  font-weight: 700;
  color: #000;
}


