:root {
  --primary: #3B82F6;
  --secondary: #6366F1;
  --text: #0F172A;
  --muted: #64748B;
  --bg: #F8FAFC;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #fff;
  color: var(--text);
  font-family: 'Vazirmatn', sans-serif;
  line-height: 1.7;
}

a {
  color: inherit;
  text-decoration: none;
}
